<nav class="side-navbar">
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center"><img src="../../assets/img/logo.png" alt="person" class="img-fluid rounded-circle">
          <h2 class="h5">Quản Lí Nhà Hàng</h2>
        </div>
      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
          <h5 class="sidenav-heading">Quản lý</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">                  
            <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Món Ăn </a>
              <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a routerLink="/admin/dsmonan">Danh Sách Món Ăn</a></li>
                <li><a routerLink="/admin/loaimonan">Loại Món Ăn</a></li>
              </ul>
            </li>
            <li><a href="#exampledropdownDropdown1" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Nguyên Liệu</a>
              <ul id="exampledropdownDropdown1" class="collapse list-unstyled ">
                <li><a routerLink="/admin/danhsachnguyenlieu">Danh Sách Nguyên Liệu</a></li>
                <li><a routerLink="/admin/nhacungcap">Nhà Cung Cấp</a></li>
              </ul>
            </li>
            <li><a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Hóa Đơn</a>
              <ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
                <li><a routerLink="/admin/hoadonnhap">Hóa Đơn Nhập</a></li>
                <li><a routerLink="/admin/hoadonban">Hóa Đơn Bán</a></li>
                <li><a routerLink="/admin/hoadonhuy">Hóa Đơn Hủy</a></li>
              </ul>
            </li>
            <li><a href="#exampledropdownDropdown3" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Nhân Viên</a>
              <ul id="exampledropdownDropdown3" class="collapse list-unstyled ">
                <li><a routerLink="/admin/danhsachnhanvien">Danh Sách Nhân Viên</a></li>
                <li><a routerLink="/admin/danhsachnhanvienboiban">Danh Sách Nhân Viên Bồi Bàn</a></li>
              </ul>
            </li>
            <li><a href="#"> <i class="icon-interface-windows"></i>Thống kê</a></li>
            <li><a href="#"> <i class="icon-interface-windows"></i>Báo cáo</a></li>
          </ul>
        </div>
      <div class="admin-menu">
        <h5 class="sidenav-heading">Người dùng</h5>
        <ul id="side-admin-menu" class="side-menu list-unstyled"> 
          <li> <a href="#"> <i class="icon-screen"> </i>Danh sách người dùng</a></li>
          <li> <a href="#"> <i class="icon-flask"> </i>Tạo Tài khoản</a></li>
        </ul>
      </div>
    </div>
  </nav>